html {
    font-family: "SF Pro", "Helvetica", "Helvetica Neue", "Helvetica CY", "Nimbus Sans L", "Arial", sans-serif;
  }
  
  .options {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;

    margin-bottom: 15px;
  }

  main {
      display: grid;
      grid-template-columns: 1fr;
      justify-items: center;

      max-width: 800px;
      margin: 10px auto 10px;
  }

  fieldset {
    margin: 0;
  }

  .rock {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}
  
  .scissors {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .paper {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  
  legend {
      margin-bottom: 15px;
  }
  
  input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  
    border-radius: 50%;
    width: 16px;
    height: 16px;
  
    border: 2px solid #999;
    transition: 0.2s all linear;
    outline: none;
  }
  
  input:checked {
    border: 6px solid black;
  }
  
  button,
  legend {
    color: white;
    background-color: black;
    padding: 5px 10px;
    border-radius: 0;
    border: 0;
    font-size: 16px;
  }
  
  button:hover,
  button:focus {
    color: #999;
  }
  
  button:active {
    background-color: white;
    color: black;
    outline: 1px solid black;
  }

  input:disabled {
    visibility: hidden;
  }

  button:disabled {
    display: none;
  }

  .button {
      display: block;
      margin: auto;
  }

  .weapons-img {
      max-width: 200px;
      max-height: 200px;
  }

  .round-result {
    display: grid;
    grid-gap: 0;
    grid-template-columns: minmax(max-content, 314px) minmax(max-content, 314px);
    grid-template-rows:  repeat(7, auto);
    justify-items: center;
  
    background: linear-gradient(0.25turn, #59d2e7, #f8faf7, #f6673c);
  }

  .round-1, .round-2, .round-3 {
    display: block;
    
    grid-column-start: 1;
    grid-column-end: 3;  
    
    width: 100%;
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    width: fill-available;
  
    text-align: center;
    background-color: rgba(0, 0, 0, 0.089);
  }
  
  .round-result h2, .round-result h3 {
    color: rgb(83, 83, 83);

    margin: 0 auto;
    padding: 3px 15px;
  }

  .round-result h3 {
    /* font-style: italic; */
    font-size: 14px;
    font-weight: lighter;
  }

  .round-result p {
    margin: 5px;
    font-weight: 600;
  }

  .hidden {
    display: none;
  }
  